html {
  border-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #fff;
}
*
*::before,
*::after {
  box-sizing:inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 2rem;
  margin: .5rem;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e2e2;
}

header img {
  order: -1;
  margin-right: .5rem;
}

header p {
  margin: 0 auto;
  font-size: 1.125rem;
}

nav ul {
  margin: .5rem;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  font-size: 1.125rem;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: #0074d9;
  padding: .75em 1em .6em;
}

nav a:hover,
nav a:focus {
  background-color: #0074d9;
  color: #fff;
}
